USE [master]
GO
/****** Object:  Database [GaleriYönetimSistemi2024]    Script Date: 27.09.2024 22:07:00 ******/
CREATE DATABASE [GaleriYönetimSistemi2024]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GaleriYönetimSistemi2024', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GaleriYönetimSistemi2024.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GaleriYönetimSistemi2024_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GaleriYönetimSistemi2024_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GaleriYönetimSistemi2024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GaleriYönetimSistemi2024]
GO
/****** Object:  Table [dbo].[Arabalar]    Script Date: 27.09.2024 22:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arabalar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Marka] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Yıl] [varchar](50) NOT NULL,
	[Km] [int] NOT NULL,
	[Motor] [varchar](50) NOT NULL,
	[Beygir] [varchar](50) NOT NULL,
	[Yakıt] [varchar](20) NOT NULL,
	[Vites] [varchar](20) NOT NULL,
	[Renk] [varchar](20) NOT NULL,
	[AracResim1] [nvarchar](100) NULL,
	[AracResim2] [nvarchar](100) NULL,
	[AracResim3] [nvarchar](100) NULL,
	[AracResim4] [nvarchar](100) NULL,
	[AracResim5] [nvarchar](100) NULL,
	[AracResim6] [nvarchar](100) NULL,
	[AracResim7] [nvarchar](100) NULL,
	[AracResim8] [nvarchar](100) NULL,
 CONSTRAINT [PK_Arabalar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
